<div class="container">
  <h1>Welcome!</h1>
  <p class="help-text">Received too many Valentine's gifts this year? 
  Want to give those presents a new home?</p>
  <br>
  <p class="help-text">Trade or give away your bounty!</p>
  <br>
  <p class="help-text">Browse the Index to see what others are looking to 
  trade or give away or put up your own gifts for adoption!</p>
  <br>
  <div id="help-options">
    <%= link_to "Browse the Index", index_path, class: "btn btn-primary" %> 
    <%= link_to "Submit a Listing", new_path, class: "btn btn-primary" %>
  </div>
</div>