<% provide(:title, "Show") %>
<div class="container">
   <div class="jumbotron" id="show-jumbotron">
      <p class="show-text">
         <strong>Title: </strong><%= @submission.title %><br>
         <strong>Description: </strong><%= @submission.description %><br>
      </p>
   </div>
</div>

 
<ul class="pager">
  <li><%= link_to 'Back', index_path %></li>
  <li><%= link_to 'Edit', {action: 'edit', id: @submission.id} %></li>
</ul>