<nav class = "navbar navbar-inverse">
  <!--Contents of the nav are contained in a container-->
  <div class = "container">
    
    <!--The Name?-->
    <div class="navbar-header"></div>  
        <p id="header-text">Hackentine's App</p>
    </div>
    
    
  </div>
</nav>

<div id="snow">
    </div>



